body {
    font-family: 'Open Sans' !important;
}

#header {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#header .navbar .navbar-brand > img {
    display: inline;
}

#header .navbar ul li a {
    color: white;
    padding: 20px;
}

#header .navbar ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#slide {
    background-image: url(../img/top_bg.jpg);
    color: white;
    text-align: center;
    padding-top: 260px;
    padding-bottom: 100px;
}

#slide p {
    font-size: 33px;
    font-weight: bold;
}

#slide .btn {
    font-weight: bold;
    font-size: 20px;
    padding: 15px 35px;
    background-color: #39C9DA;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.description {
    text-align: center;
    font-size: 14px;
    padding-bottom: 40px;
    color: #A8A8A8;
}

#about {
    background-color: #FAFAFA;
    padding: 50px 0px;
}

#about img {
    height: 335px;
    margin-right: 30px;
}

#about .right-content {
    min-height: 335px;
}

#about .right-content h2 {
    font-weight: bold;
    font-size: 14px;
}

.line {
    border-top: 3px solid #39C9DA;
    width: 75px;
    margin: 20px 0px;
}

#about .right-content p {
    font-size: 14px;
    color: #A8A8A8;
}

#about .right-content .btn {
    font-weight: bold;
    font-size: 20px;
    padding: 15px 35px;
    background-color: #39C9DA;
    position: absolute;
    bottom: 0;
}

#portfolio {
    background-color: #F4F4F4;
    padding: 50px 0px;
}

#portfolio .card {
    margin-bottom: 40px;
    border-radius: 0;
}
#portfolio .card .card-img-top{
    position: relative;
}
#portfolio .card .card-img-top img{
    width:100%;
    height:100%;
}

#portfolio .card .overlay{
    background-color: rgba(0, 0, 0, 0.5);
    text-align:center;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    transition: opacity .5s;
}
#portfolio .card .overlay:hover {
    opacity: 1;
    transition: opacity .5s;
}
#portfolio .card .overlay .btn{
    top:120px;
    position:relative;
    border:2px solid white;
    background-color:transparent;
}

#portfolio .card .card-block .card-link {
    font-weight: bold;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}

#portfolio .card .card-block .category {
    font-size: 12px;
    color: #A8A8A8;
}

#service {
    background-color: #FAFAFA;
    padding: 50px 0px;
    text-align: center;
}

#service .card:hover {
    color: white;
    background-color: #39C9DA;
    transition: all .5s ease-in-out .1s;
}

#service .card:hover .fa {
    color: white;
}

#service .card:hover .btn {
    color: black;
    background-color: white;
    border: none;
    transition: all .5s linear .1s;
}

#service .card .fa {
    color: #39C9DA;
    padding: 15px;
}

#service .card .line {
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    width: 75px;
    margin: 0 auto;
}

#service .card .card-text {
    font-size: 14px;
    margin: 30px 0px;
}

#service .card .btn {
    background-color: #4B4A4B;
    padding: 10px 30px;
}

#contact {
    background-color: #F4F4F4;
    padding: 50px 0px;
}

#contact h4 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#contact .info {
    font-size: 14px;
    color: #A8A8A8 !important;
}

#contact address {
    font-size: 14px;
    margin-top: 20px;
    color: #A8A8A8;
}

#contact form input{
    border-radius:0;
}
#contact form textarea{
    border-radius:0;
}
#contact form .btn {
    font-weight: bold;
    font-size: 20px;
    background-color: #39C9DA;
    padding: 15px 60px;
    text-transform: uppercase;
}

footer {
    text-align: center;
    font-size: 14px;
    padding: 15px;
    background-color: #39C9DA;
    color: white;
}